@import "tailwindcss";
@import "flowbite/src/themes/default";


:root {
  /* Brand */
  --primary: 37 99 235;      /* blue-600 */
  --secondary: 15 23 42;     /* slate-900 */
  --accent: 249 115 22;      /* orange-500 */

  /* Neutral */
  --background: 255 255 255;
  --foreground: 17 24 39;

  /* State */
  --success: 34 197 94;
  --danger: 239 68 68;
}
